/* Global */
:root {
    /* App Colors */
    --color-primary: var(--color-black);
    --color-primary-variant: var(--color-gray);
    --color-accent: var(--color-blue);
    --color-accent-variant: var(--color-orange);
    --color-text: var(--color-white);

    /* Colors */
    --color-white: #ffffff;
    --color-black: #050a13;
    --color-blue: #03e8f9;
    --color-orange: #fd6413;
    --color-gray: #1b1e26;

    /* Size */
    --size-max-width: 1200px;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}

h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: var(--color-text)
}

button {
    background-color: transparent;
    outline: 0;
    border: 0;
}

button:focus {
    outline: 1px solid var(--color-accent);
}

/* Common */
.section {
    padding: 4rem;
    text-align: center;
}

.max-container {
    max-width: var(--size-max-width);
    margin: auto;  /* block 요소의 수평 정렬할 때 유용 */
}

.title {
    font-size: 2.5rem;
    margin: 1rem 0;
}

.description {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

/* Header */
.header {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.header__logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.header__logo__img {
    width: 40px;
    height: 40px;
}

.header__logo__title {
    font-size: 1.8rem;
}

.header__menu {
    display: flex;
    gap: 4px;
}

.header__menu__item {
    padding: 8px 16px;
}

.header__menu__item:hover {
    border-bottom: 1px solid var(--color-accent);
}

.header__menu__item.active {
    border: 1px solid var(--color-accent);
    border-radius: 4px;
}

/* Home */
#home {
    background-color: var(--color-primary);
    color: var(--color-text);
    padding: 5rem 1rem;
    padding-top: 7rem;
    text-align: center;
}

.home__avatar {
    width: 250px;
    height: 250px;
    object-fit: cover;  /* 대체 컨텐츠의 가로세로비를 유지하면서, 요소 콘텐츠 박스를 가득 채움. 서로의 가로세로비가 일치하지 않으면 객체 일부가 잘려나감(이미지의 원래 비율을 유지) */
    border: 3px solid var(--color-accent);
    border-radius: 100%;
}

.home__title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.home__title--strong {
    color: var(--color-accent);
}

.home__description {
    font-size: 1.3rem;
}

.home__contact {  /* <a> 태그는 inline 요소라 위아래로 margin이 들어가지 않음 */
    display: inline-block;
    background-color: var(--color-accent);
    padding: 0.5rem 1rem;
    margin: 2rem;
    font-weight: bold;
    color: var(--color-black);
    border-radius: 4px;
}

.home__contact:hover {
    background-color: transparent;
    color: var(--color-text);
    outline: 2px solid var(--color-accent);  /* border은 옵션의 두께만큼 박스의 전체 크기가 늘어남, outline은 박스의 크기를 늘리는 것이 아니라 단지 테두리만 생성 */
}

/* About me */
.majors {
    display: flex;
    justify-content: space-around;
    gap: 1rem;
    margin: 2.5rem 0;
}

.major {
    background-color: var(--color-primary-variant);
    padding: 2rem 1rem;
    color: var(--color-text);
    border-radius: 1rem;
    cursor: default;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.38);
}

.major__icon {
    font-size: 4rem;
    margin: 1rem 0;
    color: var(--color-accent);
    transition: all 300ms ease;
}

.major__title {
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.major:hover .major__icon {
    transform: rotate(-15deg) scale(1.2);
}

.jobs {
    text-align: start;
}

.job {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 1rem;
}

.job img {
    width: 150px;
}

.job__name {
    color: var(--color-primary);
}

.job__period {
    color: var(--color-primary);
    font-size: 0.8rem;
}

/* Skills */
#skills {
    background-color: var(--color-primary-variant);
    color: var(--color-text);
}

.skills {
    display: grid;
    grid-template-columns: 6fr 4fr;
    margin: 2rem 3rem;
    border-radius: 8px;  /* skills__coding에 따로 배경 색을 지정해줬으므로 border-radius가 지정되어도 보이지 않음*/
    overflow: hidden;  /* hidden을 사용하여 감춤 */
}

.skills__title {
    color: var(--color-accent);
    margin: 1rem 0;
    font-size: 1.2rem;
}

.skills__coding {
    grid-row: span 2;
    padding: 1rem;
    background-color: var(--color-primary);
}

.skills__tools {
    padding: 1rem;
}

.skills__etc {
    padding: 1rem;
    background-color: var(--color-primary);
    filter: brightness(150%);
}